   <script type="text/javascript" src="/assets/jquery.mask.min.js"></script>
  <% if @student.errors.any? %>
    <div >
      <h2>
        <%= pluralize(@student.errors.count, "error") %>
      <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="form-group">
<%= f.label :email %>
<%= f.email_field :email %>
</div>

<div class="form-group">
<%= f.label :phone %>
<%= f.telephone_field :phone_no, :id => "txtphone" %>
</div>

<div class="form-action">
<%= f.submit%>
</div>



<script>
 $(document).ready(function() {
$('#txtphone').mask('(000) 000-0000');
});

 </script>