<%= form_for @article do |f| %>

<div class="form-field">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="form-field">
<%= f.label :content %>
<%= f.text_field :content %>
</div>

<div class="form-action">
<%= f.submit %>
</div>
<%end%>