<div class="page-wrapper">
<h2>Name</h2>
<%= @article.name %>
<h2>Content</h2>
<%= @article.content %>
</div>

<%= render @article.comments %>

<h2>Create Comment </h2>
<%= render "comments/form" %>

<%= link_to "Back", articles_path  %>