<!DOCTYPE html>
<html>
<head>
  <title>Articlecomm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>



  <%= csrf_meta_tags %>

</head>
<body>


<div class="row">

<div class="col-lg-2">

<div class="panel panel-primary" id="panels">
<div class="panel-heading">Food Preferences </div>
<% @food_preferences.limit(3).each do |fp| %>
<p><%= fp.name%></p>
<%end%>
<%= link_to "ViewMore", food_preferences_recipes_path, :class => "btn btn-info" %>
</div>

<div class="panel panel-primary" id="panels">
<div class="panel-heading">Food Type </div>
<% @food_types.limit(3).each do |ft| %>
<p><%= ft.name%></p>
<%end%>
<%= link_to "ViewMore", food_types_recipes_path, :class => "btn btn-info" %>
</div>

<div class="panel panel-primary" id="panels">
<div class="panel-heading">Cuisine </div>
<% @cuisines.limit(3).each do |c| %>
<p><%= c.name%></p>
<%end%>
<%= link_to "ViewMore", cuisines_recipes_path, :class => "btn btn-info" %>
</div>

</div>



<div class="col-lg-9"> 

<div class="navbar navbar-static-top">
<div class="container">
<a class="navbar-brand" href="#"><%= image_tag "currynation.png"%></a>

<ul class="nav navbar-nav">
<li class="active"><%= link_to "Recipes", recipes_path %></li>
</ul>
<ul class="nav navbar-nav pull-right">
<% if user_signed_in? %>
<li><%=link_to "#{current_user.email}" %></li>
<li class="active"><%= link_to "Logout", destroy_user_session_path, :method => :delete%></li>
<%else%>
<li><%= link_to "Login", new_user_session_path %></li>
<li class="active"><%= link_to "SignUp", new_user_registration_path%></li>
<%end%>
</ul>
</div>
<%= yield %>

</div>
</div>
</body>
</html>
